<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>StaffSync</display-name>
	<servlet>
		<description>
		</description>
		<display-name>FetchAllEmployees</display-name>
		<servlet-name>FetchAllEmployees</servlet-name>
		<servlet-class>FetchAllEmployees</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FetchEmployeeById</display-name>
		<servlet-name>FetchEmployeeById</servlet-name>
		<servlet-class>FetchEmployeeById</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegisterEmployee</display-name>
		<servlet-name>RegisterEmployee</servlet-name>
		<servlet-class>RegisterEmployee</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RemoveEmployee</display-name>
		<servlet-name>RemoveEmployee</servlet-name>
		<servlet-class>RemoveEmployee</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateEmployee</display-name>
		<servlet-name>UpdateEmployee</servlet-name>
		<servlet-class>UpdateEmployee</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FetchForUpdate</display-name>
		<servlet-name>FetchForUpdate</servlet-name>
		<servlet-class>FetchForUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FetchAllEmployees</servlet-name>
		<url-pattern>/FetchAllEmployees</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FetchEmployeeById</servlet-name>
		<url-pattern>/FetchEmployeeById</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterEmployee</servlet-name>
		<url-pattern>/RegisterEmployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveEmployee</servlet-name>
		<url-pattern>/RemoveEmployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateEmployee</servlet-name>
		<url-pattern>/UpdateEmployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FetchForUpdate</servlet-name>
		<url-pattern>/FetchForUpdate</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
